{% include 'headerbikes.twig' %}

<p><a href="/defaultauthed">Bikes</a> &raquo;</p>


<p class="bike-icon">🚲</p>

<h1>{{bike.name}}</h1>

<p>{{bike.type}} bike</p>
<p>Weight: {{bike.weight}}/5</p>
<p>Aero: {{bike.aero}}/5</p>


{% include 'footer.twig' %}